/*-----------------------------------------------------------------------------------

    Template Name: Your template name 
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*
Banner Area Css
*/
.banner-area{
	margin-top:20px;
	margin-bottom:50px
}
.margin-top-20{margin-top:20px}
.single-banner{
	
}
.single-banner a{
	position:relative;
	display:block
}

.single-banner a::before{
	position:absolute;
	background:rgba(0, 0, 0, 0.3);
	opacity: 0.5;
	content: "";
	width: 90%;
	height: 90%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	transition: all 0.9s ease 0s;
	transform: scaleY(0);

}
.single-banner:hover a::before{
	transform: scaleY(1);
}

.single-banner a::after{
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	color: #fff;
	font-family: fontawesome;
	content:"\f0c1";
	width: 60px;
	height: 60px;
	line-height: 60px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	text-align: center;
	transform: scale(3);
	transition: all 0.5s ease 0s;
	border-radius:50%;
	box-shadow:0 0 0 8px rgba(255, 255, 255, 0.42);
	font-size:30px

}

.single-banner:hover a::after{
	transform: scale(1);
	opacity: 1;
}





